
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section menu{
    <li class="active">@Html.ActionLink("Home","Index")</li>
    <li>@Html.ActionLink("APIs","Apis")</li>
    <li>@Html.ActionLink("Database","Database")</li>
    
    
}

@RenderBody();