@{
    ViewBag.Title = "contact";
}

<h2>contact</h2>

<div >
    <a href="#" onclick="closeMe(); return false;">Return back</a>

</div>
<div id ="target">


</div>
<script>
    var a = window.opener.aaabb;
    
    
    function closeMe()
    {
        a();
        window.close();
    }

</script>